img {
    height: 400px;
    width: 500px;
}

body{
    background-color: grey;
}

navbar{
    height: 30%;
}

h1{

text-align:center;
font-size: 3rem;

}

.parallax {
    /* The image used */
    background-image: url("../images/edubg.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
     max-width: 100%;
    /* Create the parallax scrolling effect */
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }